<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>User Information</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="{{ url_for('index') }}">Home</a> </li>
                                        <li> <a href="{{ url_for('all_songs') }}">Song</a> </li>
                                        <li> <a href="{{ url_for('all_singers') }}">Singer</a> </li>
                                        <!--<li> <a href="contact.html">Contact</a> </li>-->
                                        <li> <a href= "{{ url_for('user_info') }}">User</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                        <form class="search" method="POST" action="{{ url_for('index') }}">
                            <input class="form-control" type="text" placeholder="Search" name="query" required>
                            <button type="submit"><img src="{{ url_for('static', filename='images/search_icon.png') }}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->

    <div class="container">
        <h2 class="mt-5">User Information</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome, {{ user['UserName'] }}</h5>
                <p class="card-text"><strong>Name:</strong> {{ user['Name'] }}</p>
                <p class="card-text"><strong>Birth Year:</strong> {{ user['BirthYear'] }}</p>
                <p class="card-text"><strong>Gender:</strong> {{ user['Gender'] }}</p>
                <p class="card-text"><strong>Location:</strong> {{ user['Location'] }}</p>
            </div>
        </div>

        <h2 class="mt-5">User Reviews on Songs</h2>
        <div class="card">
            <div class="card-body">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="mb-3">
                            <h5 class="card-title">{{ review.SongName }} by {{ review.SingerName }}</h5>
                            <p class="card-text"><strong>Review:</strong> {{ review.Review }}</p>
                            <p class="card-text"><strong>Is Liked:</strong> {{ 'Yes' if review.IsLike else 'No' }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews found.</p>
                {% endif %}
            </div>
        </div>

        <h2 class="mt-5">Most similar user </h2>
        <div class="card">
            <div class="card-body">
                {% if common_likes %}
                    {% for like in common_likes %}
                        <div class="mb-3">
                            <strong>User ID:</strong> {{ like['UserID'] }}
                            <strong>Username:</strong> {{ like['UserName'] }}
                            <p><strong>Song Liked:</strong> {{ like['SongName'] }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                <p>No users found with at least 3 common likes.</p>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text"><a href="{{ url_for('logout') }}">Logout</a></p>
            </div>
        </div>
    </div>

    <!-- Javascript files-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {
                $(this).addClass('transition');
            }, function() {
                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>
